.vscode/
.vagrant/
.DS_Store
output-rockylinux-8-*/
venv
ansible/tmp/*
!ansible/tmp/.gitkeep

/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.clj-kondo/
.lsp/
target/
